.post_detail {
    margin-bottom: 2em;
  }
  
  .post_detail img {
    max-width: 600px;   
    border-radius: 7px;
  }
  
  .post_detail h2 {  
    margin-top: -4px;  
  }
  
  .post_detail .tags {
    margin-bottom: 1.2em;
    display: flex;
  }
  
  .tags p {
    margin: 0px 4px -2px 0px;    
    font-style: italic;
  }
  
  .tags span {
    font-weight: bold;   
    font-size: 16px;
  }
  
  .createdBy {
    font-style: italic;
    margin-top: -20px;
    color: #444444;
    font-size: 0.8em;
    
  }