.header {
    background-color: #6b8ac9;
    color: #000000;
    padding: 10px;
     
   
   
}

.header img {
    top: 7px;
    left: 7px;
    position: fixed;
    width: 60px;   
}

.header div {
    margin: 0 auto;
    text-align: center;
}





