.form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.form input{
    padding: 8px 15px; 
    margin-bottom: 1.5em;
    border-radius: 10px;
}

.form input[type="submit"]{
    background-color: #6b8ac9;
    border: none;
    color: black;
    transition: .3s;
    cursor: pointer;
}

.form input[type="submit"]:hover{
background-color: #365187;
color: white;
}

.input_container{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input_container label{
    font-weight: bold;
}

